.submit {
  color: black;
  font-style: normal;
  background-color: #f3eee6;
  padding: 20px;
  border-radius: 15px;
  border-style: double;
  font-size: medium;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.search-input {
  color: black;
  padding: 20px;
  border-radius: 10px;
  background-color: wheat;
  border-style: double;
  font-size: medium;
}

.sun {
  font-size: 10px;
  margin-top: 7px;
}
.city {
  font-size: 60px;
  .poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
}
.temperature {
  display: flex;
}
.celcius {
  font-size: 26px;
  color: black;
  margin-top: 22px;
  font-weight: 600px;
}
strong {
  color: #e5b543;
  opacity: 45px;
}
.day {
  color: black;
  font-weight: 700;
  font-size: 35;
}
.time {
  font-style: italic;
  font-weight: 600;
}
.temp {
  font-size: 100px;
  color: white;

  font-weight: 700;
}
.structure {
  margin: 0 auto;
  margin-top: 50px;
  background-color: #00548f;
  border: groove;
  border-radius: 120px;
  padding: 70px;
  border-color: white;
  max-width: 550px;
}
body {
  background-image: url("https://m.media-amazon.com/images/I/71-eRa8AWwL._AC_UF894,1000_QL80_.jpg");
  background-size: cover;
}
a {
  color: antiquewhite;
}

.weather-forecast-date {
  font-size: 22px;
  font-weight: 500px;
}
.forecast-emoji {
  font-size: 17px;
}
.weather-forecast-temperature-max {
  font-weight: bolder;
  font-size: 17px;
  color: rgb(240, 177, 61);
}
.weather-forecast-temperature-min {
  opacity: 0.3px;
  font-size: 17px;
  line-height: 10px;
  color: wheat;
}
.weather-forecast {
  display: inline-flex;
  margin-top: 20px;
  margin-right: 55px;
}
